
<router-outlet></router-outlet>
    

 
<footer class="mt-5 py-3 bg-black text-white text-center">
  <p>© 2024 Mi Sitio Web. Todos los derechos reservados.</p>
</footer>































<!--

     Header 
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand text-white" href="#">UniEventos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Concierto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Deportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Teatro</a>
                </li>
            </ul>
            Search bar 
            <form 
                class="form-inline my-2 my-lg-0">
                <input 
                class="form-control mr-sm-2" 
                type="search" 
                placeholder="Buscar eventos" 
                aria-label="Buscar">
                <select class="form-control mr-sm-2">
                    <option>Filtrar por tipo</option>
                    <option>Concierto</option>
                    <option>Deportes</option>
                    <option>Teatro</option>
                </select>
                <button class="btn btn-light my-2 my-sm-0" 
                type="submit">Buscar</button> 
            </form>

            <ul class="navbar-nav ml-auto">
            
              <button
                type="button"
                routerLink="/login"
                class="btn btn-outline-light me-2"
              >Iniciar sesion</button>
              <button type="button" routerLink="/registro" class="btn btn-primary">Registrarse</button>
            </ul>
            </div>
          
            
    </nav>

     Lugar donde se cargarán los componentes según las rutas -->
    

 
  
 
 